@model IEnumerable<ExerciseViewModel>
@{
    ViewBag.Title = Model!.FirstOrDefault()!.Category + " Exercises";
}

<h2 class="text-center" style="padding-top: 30px;">@ViewBag.Title</h2>
<hr />

<br>


<div class="text-center row">
    @foreach (var exercise in Model)
    {
        <div class="text-lg-center">
            <img src="@exercise.ImageUrl" alt="@exercise.Name" style="width:80%;">
            <br>
            <h1 style="color: black; margin-top: 20px;">
                @exercise.Name.ToUpper()
            </h1>
        </div>

        <br>
        <div class="text-lg-start">
            <font style="color: black; display: inline-block; font-size:20px; margin-bottom: 20px;"><font size="+2" style="font-family: Verdana;">Execution:</font> @exercise.Execution</font>
            <font style="color: black; display: inline-block; font-size:20px; margin-bottom: 30px;"><font size="+2" style="font-family: Verdana;">Benefits:</font> @exercise.Benefit</font>
        </div>

        <div class="text-lg-end">
            <font style="font-family:Monospace; font-size:17px;">(Click here to add)</font>
            @if (this.User.Identity!.IsAuthenticated)
            {
                <form class="input-group-sm" asp-controller="Gym" asp-action="AddToMyFavorites" asp-route-id="@exercise.Id">
                    <input type="submit" value="Add to my favorites" class="fs-6 btn btn-success mb-5 p-4" style="border-color:black; font-size : 25px; width: 25%; height: 100px; font-family:Sans-serif; margin-top: 5px;" />
                </form>
            }
        </div>
    }
</div>
