@model AddTrainingPlanViewModel
@{
    ViewBag.Title = "Add Training Plan";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="AddTrainingPlan" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label">Name:</label>
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Description" class="form-label">Execution:</label>
                    <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.CategoryId" class="form-label">Category:</label>
                    <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                        @foreach (var category in @Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 text-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="Add Exercise" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
