@using static GymApp.Common.EntityValidationConstants.RolesConstants;
@model IEnumerable<TrainingPlanViewModel>
@{
    ViewBag.Title = Model.FirstOrDefault()?.Category + " Plans";
}



<div class="container my-5">
    <div class="row">
        @foreach (var trainingPlan in Model)
        {
            <div class="col-lg-6 mb-4">
                <div class="training-plan-card">
                    <h3>@trainingPlan.Name</h3>
                    <p class="font-weight-bold">Category: @trainingPlan.Category</p>
                    <hr />
                    <h4 class="mt-4">Exercises:</h4>
                    <p class="exercise-description">@Html.Raw(trainingPlan.Description)</p>
                    
                    <div class="d-flex justify-content-between align-items-center">

                        @if (User.IsInRole(NameOfRoleAdmin))
                        {
                    <a asp-controller="TrainingPlan" asp-action="EditTrainingPlan" asp-route-id="@trainingPlan.Id" class="btn btn-outline-warning btn-lg mt-3 py-2 px-4 rounded-pill">Edit Training Plan</a>

                            <form asp-controller="TrainingPlan" asp-action="DeleteTrainingPlan" asp-route-id="@trainingPlan.Id">
                                <button type="submit" class="btn btn-outline-danger btn-lg mt-3 py-2 px-4 rounded-pill">Delete TrainingPlan</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
