@model IEnumerable<SupplementViewModel>
@{
    ViewBag.Title = "Supplements";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        @foreach (var supplement in Model)
        {
            <div class="col-lg-4">
                <a class="navbar-brand" asp-area="" asp-controller="Supplement" asp-action="SupplementDetails" asp-route-id="@supplement.Id">
                    <img src="@supplement.ImageUrl" alt="@supplement.Name" style="width:100%;">
                    <h5 style="color:black">@supplement.Name - @supplement.Manufacturer</h5>
                    <h5 style="color:black">@supplement.Price<font>BGN</font></h5>
                </a>
                <form class="input-group-sm text-lg-end" asp-controller="Supplement" asp-action="AddProductToCart" asp-route-id="@supplement.Id">
                    <input type="submit" value="Buy" class="fs-6 btn btn-success mb-2 p-3 btn-success" style="border-color:black" />
                </form>
            </div>
        }
    </div>
</div>
