@using static GymApp.Common.GeneralApplicationConstants;
@model CartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="container" style="margin-top: 50px;">
    <table class="table table-bordered product-table">
        <thead>
            <tr>
                <th style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Product:</th>
                <th style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Category:</th>
                <th style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Price (BGN):</th>
                <th style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Quantity:</th>
                <th style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Total (BGN):</th>
                <th style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">To Remove:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <div class="product-container">
                            <div class="product-image">
                                @if (product.Type == TypeProductAccessory)
                                {
                                    <a asp-area="" asp-controller="Accessory" asp-action="AccessoryDetails" asp-route-id="@product.Id">
                                        <img src="@product.Image" alt="@product.Name" style="width:100%;">
                                    </a>
                                }
                                else if (product.Type == TypeProductSupplement)
                                {
                                    <a asp-area="" asp-controller="Supplement" asp-action="SupplementDetails" asp-route-id="@product.Id">
                                        <img src="@product.Image" alt="@product.Name" style="width:100%;">
                                    </a>
                                }
                                else if (product.Type == TypeProductWear)
                                {
                                    <a asp-area="" asp-controller="Clothing" asp-action="ClothingDetails" asp-route-id="@product.Id">
                                        <img src="@product.Image" alt="@product.Name" style="width:100%;">
                                    </a>
                                }
                            </div>
                            <div class="product-info">
                                <h5>@product.Name</h5>
                                @if (product.Type == TypeProductWear)
                                {
                                    @if (product.Size != null)
                                    {
                                        <p class="font-weight-bold">Size: @product.Size</p>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                    <td style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        @product.Type
                    </td>

                    <td style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        @product.Price
                    </td>

                    <td style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        @product.Quantity
                    </td>

                    <td style="font-size:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        @(product.Price * product.Quantity)
                        <br />
                    </td>

                    <td>
                        <form asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@product.Id">
                            <button style="margin-top:35px;margin-left:50px; width:100px; height:60px;  font-size:20px;" type="submit" class="btn btn-outline-danger btn-lg rounded-pill remove-button">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-end">
        <form class="input-group-sm text-lg-end" asp-controller="Cart" asp-action="RemoveAllFromCart">
            <button type="submit" class="btn btn-lg mt-3 order-button btn-danger" style="width:262px; height:90px; font-size:40px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <span>Remove All</span>
            </button>
        </form>
        <br />
        <br />
        <br />
        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Final Price: @Model.FinalPrice&#160BGN</h2>
        @if (Model.Products.Count > 0)
        {
            <form class="input-group-sm text-lg-end" asp-controller="Cart" asp-action="Checkout">
                <button type="submit" class="btn btn-lg mt-3 order-button btn-info" style="width:262px; height:90px; font-size:40px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    <span>Checkout</span>
                </button>
            </form>
        }
    </div>
</div>
