@using static GymApp.Common.GeneralApplicationConstants;
@model CartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">

        @foreach (var product in Model.Products)
        {
            <div class="col-lg-4">
                @if (product.Type == TypeProductAccessory)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Accessory" asp-action="AccessoryDetails" asp-route-id="@product.Id">
                        <img src="@product.Image" alt="@product.Name" style="width:50%;">
                        <h5 style="color:black">@product.Name</h5>
                        <h5 style="color:black">Price: @product.Price<font>BGN</font></h5>
                        <h5 style="color:black">Quantity: @product.Quantity</h5>
                        <h5 style="color:black">@product.TotalPrice<font>BGN</font></h5>
                        @if (product.Size != null)
                        {
                            <h5 style="color:black">Size: @product.Size</h5>
                        }
                    </a>
                    <div class="text-lg-end">
                        @if (this.User.Identity!.IsAuthenticated)
                        {
                            <form asp-controller="MyFavoriteExercises" asp-action="RemoveFromMyFavorites" asp-route-id="@product.Id">
                                <button type="submit" class="btn btn-outline-danger btn-lg mt-3 py-2 px-4 rounded-pill">Remove from cart</button>
                            </form>
                        }
                    </div>
                }
                else if (product.Type == TypeProductSupplement)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Supplement" asp-action="SupplementDetails" asp-route-id="@product.Id">
                        <img src="@product.Image" alt="@product.Name" style="width:50%;">
                        <h5 style="color:black">@product.Name</h5>
                        <h5 style="color:black">Price: @product.Price<font>BGN</font></h5>
                        <h5 style="color:black">Quantity: @product.Quantity</h5>
                        <h5 style="color:black">@product.TotalPrice<font>BGN</font></h5>
                        @if (product.Size != null)
                        {
                            <h5 style="color:black">Size: @product.Size</h5>
                        }
                    </a>
                    <div class="text-lg-end">
                        @if (this.User.Identity!.IsAuthenticated)
                        {
                            <form asp-controller="MyFavoriteExercises" asp-action="RemoveFromMyFavorites" asp-route-id="@product.Id">
                                <button type="submit" class="btn btn-outline-danger btn-lg mt-3 py-2 px-4 rounded-pill">Remove from cart</button>
                            </form>
                        }
                    </div>
                }
                else if (product.Type == TypeProductWear)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Clothing" asp-action="ClothingDetails" asp-route-id="@product.Id">
                        <img src="@product.Image" alt="@product.Name" style="width:50%;">
                        <h5 style="color:black">@product.Name</h5>
                        <h5 style="color:black">Price: @product.Price<font>BGN</font></h5>
                        <h5 style="color:black">Quantity: @product.Quantity</h5>
                        <h5 style="color:black">@product.TotalPrice<font>BGN</font></h5>
                        @if (product.Size != null)
                        {
                            <h5 style="color:black">Size: @product.Size</h5>
                        }
                    </a>
                <div class="text-lg-end">
                    @if (this.User.Identity!.IsAuthenticated)
                    {
                        <form asp-controller="MyFavoriteExercises" asp-action="RemoveFromMyFavorites" asp-route-id="@product.Id">
                            <button type="submit" class="btn btn-outline-danger btn-lg mt-3 py-2 px-4 rounded-pill">Remove from cart</button>
                        </form>
                    }
                </div>
                }
            </div>
        }

    </div>
</div>