@model CategoryListViewModel
@{
    ViewData["Title"] = "All Exercises";
}
<h1 class="text-center" style="padding-top: 30px;">@ViewBag.Title</h1>
<hr />

<div class="list-group" style="margin-bottom: 50px;">
    @foreach (var item in Model.Categories)
    {
        <div class="bg-image text-md-center">
            <div class="mask" style="padding-bottom: 40px;">
                <div class="d-flex justify-content-center align-items-center h-10">
                    @switch (item.Name)
                    {
                        case "Legs":
                            <h1 style="color: black; display: inline-block; margin-left:100px;padding-right: 100px;">LEG EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/LegsExercisesPicture.jpg" alt="Leg Exercises" style="width:90%; display: inline-block; margin-left: 90px;">
                                </a>
                            </div>
                            break;
                        case "Back":
                            <h1 style="color: black; display: inline-block; margin-left:100px;padding-right: 100px;">BACK EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/BackExercisesPicture.jpg" alt="Back Exercises" style="width:90%; display: inline-block; margin-left: 90px;">
                                </a>
                            </div>
                            break;
                        case "Chest":
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/ChestExercisesPicture.jpg" alt="Chest Exercises" style="width:90%; display: inline-block; margin-right: 90px;">
                                </a>
                            </div>
                            <h1 style="color: black; display: inline-block; margin-right:100px;padding-left: 100px;">CHEST EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            break;
                        case "Biceps":
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/BicepsExercisesPicture.jpg" alt="Biceps Exercises" style="width:90%; display: inline-block; margin-right: 90px;">
                                </a>
                            </div>
                            <h1 style="color: black; display: inline-block; margin-right:100px;padding-left: 100px;">BICEPS EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            break;
                        case "Triceps":
                            <h1 style="color: black; display: inline-block; margin-left:100px;padding-right: 100px;">TRICEPS EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/TricepsExercisesPicture.jpg" alt="Triceps Exercises" style="width:90%; display: inline-block; margin-left: 90px;">
                                </a>
                            </div>
                            break;
                        case "Shoulders":
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/ShouldersExercisesPicture.jpg" alt="Biceps Exercises" style="width:90%; display: inline-block; margin-right: 90px;">
                                </a>
                            </div>
                            <h1 style="color: black; display: inline-block; margin-right:100px;padding-left: 100px;">SHOULDERS EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>

                            break;
                        case "Forearms":
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/ForearmsExercisesPicturejpg.jpg" alt="Forearm Exercises" style="width:90%; display: inline-block; margin-right: 90px;">
                                </a>
                            </div>
                            <h1 style="color: black; display: inline-block; margin-right:100px;padding-left: 100px;">FOREARM EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>

                            break;
                        case "Abs":
                            <h1 style="color: black; display: inline-block; margin-left:100px;padding-right: 100px;">ABS EXERCISES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            <div class="container-fluid">
                                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="GetExercise" asp-route-id="@item.Id">
                                    <img src="~/images/AbsExercisesPicture.jpg" alt="Abs Exercises" style="width:90%; display: inline-block; margin-left: 90px;">
                                </a>
                            </div>
                            break;
                    }
                </div>
            </div>
        </div>
    }
</div>
