@model IEnumerable<ExerciseViewModel>
@{
    ViewBag.Title = Model!.FirstOrDefault()!.Category + " Exercises";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        @foreach (var exercise in Model)
        {
            <div class="col-lg-4">
                <a class="navbar-brand" asp-area="" asp-controller="Gym" asp-action="ExerciseDetails" asp-route-id="@exercise.Id">
                    <img src="@exercise.ImageUrl" alt="@exercise.Name" style="width:100%;">
                    <h3 style="color:black">@exercise.Name</h3>
                </a>
                <div class="text-lg-end">
                    @if (this.User.Identity!.IsAuthenticated)
                    {
                        <font style="font-family:Monospace; font-size:13px;">(Click here to add)</font>
                        <form asp-controller="Gym" asp-action="AddToMyFavorites" asp-route-id="@exercise.Id">
                            <button type="submit" class="btn btn-outline-success btn-lg mt-3 py-2 px-4 rounded-pill">Add to favorites</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</div>