@model IEnumerable<FoodViewModel>
@{
    ViewBag.Title = "Products";
}
<div class="text-center row">
    <table class="styled-table" style="width:100%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <th><h1>Product (100g):</h1></th>
            <th></th>
        </tr>
        @foreach (var food in Model)
        {
            <tr>
                <td>
                    <h3 class="text-lg-start">@food.Name - Cal: @food.Calories Carbs: @string.Format("{0:N1}", food.Carbs) Fat: @string.Format("{0:N1}", food.Fat) Protein: @string.Format("{0:N1}", food.Protein)</h3>
                </td>
                <td>
                    <form class="input-group-sm" asp-controller="Calculator" asp-action="AddProductToList" asp-route-id="@food.Id">
                        <input type="number" name="weight" placeholder="Enter weight (grams)" />
                        <input type="submit" value="Add product" class="fs-6 btn btn-success mb-3 p-2 btn-success" style="border-color:black" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>