@model IEnumerable<FoodViewModel>
@{
    ViewBag.Title = "Calorie calculator";
    int calories = 0;
    double carbs = 0;
    double fat = 0;
    double protein = 0;
}

<div class="text-center row">
    @foreach (var food in Model)
    {
        calories += food.Calories;
        carbs += food.Carbs;
        fat += food.Fat;
        protein += food.Protein;
    }
    <table class="styled-table" style="width:100%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <th><h1>Calories:</h1></th>
            <th><h1>Carbs:</h1></th>
            <th><h1>Fat:</h1></th>
            <th><h1>Protein:</h1></th>
        </tr>
        <tr>
            <td><h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@calories</h1></td>
            <td><h1 style ="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@String.Format("{0:0.#}", carbs)</h1></td>
            <td><h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@String.Format("{0:0.#}", fat)</h1></td>
            <td><h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@String.Format("{0:0.#}", protein)</h1></td>
        </tr>
    </table>
    <form class="input-group-sm" asp-controller="Calculator" asp-action="AllProducts" >
        <input type="submit" value="ADD PRODUCT" class="btn btn-success btn-lg py-3 px-5 rounded-pill" style="width:70%; border-color:black; height: 75px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-bottom: 20px;" />
    </form>
    <table class="styled-table-items" style="width:100%">
        <tr>
            <th><h1>Foods:</h1></th>
            <th></th>
        </tr>
        @foreach (var food in Model)
        {
            <tr>
                <td><h3 class="text-lg-start" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><font style=" font-size: 37px;">@food.Name</font> <br>Cal: @food.Calories Carbs: @string.Format("{0:N1}", food.Carbs) Fat: @string.Format("{0:N1}", food.Fat) Protein: @string.Format("{0:N1}", food.Protein) - (@food.Grams g)</h3></td>
                <td>
                    @if (this.User.Identity!.IsAuthenticated)
                    {
                        <form class="input-group-sm" asp-controller="Calculator" asp-action="RemoveFromFoodList" asp-route-id="@food.Id">
                            <input type="submit" value="Remove" class="btn btn-danger btn-lg py-3 px-5 rounded-pill" style="margin-top:20px; margin-bottom:20px;font-weight: 700; border-color:black" />
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
</div>
