@using GymApp.ViewModels.Clothing;
@model AddWearViewModel
@{
    ViewBag.Title = "Add Clothing";
}

<h2 class="text-center display-4 font-weight-bold">@ViewBag.Title</h2>
<hr />

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="AddWear" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label">Name:</label>
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Five stars T-shirt" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Price" class="form-label">Price:</label>
                    <input asp-for="@Model.Price" class="form-control" aria-required="true" placeholder="12.99" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.ImageUrl" class="form-label">Image URL:</label>
                    <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" placeholder="Link for image" />
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Color" class="form-label">Color:</label>
                    <input asp-for="@Model.Color" class="form-control" aria-required="true" placeholder="Black" />
                    <span asp-validation-for="@Model.Color" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="@Model.Size" class="form-label">Size:</label>
                    <input asp-for="@Model.Size" class="form-control" aria-required="true" placeholder="S/M/L" />
                    <span asp-validation-for="@Model.Size" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Fabric" class="form-label">Fabric:</label>
                    <input asp-for="@Model.Fabric" class="form-control" aria-required="true" placeholder="Cutton" />
                    <span asp-validation-for="@Model.Fabric" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Description" class="form-label">Description:</label>
                    <textarea asp-for="@Model.Description" class="form-control" aria-required="true" placeholder="Some description..." rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.CategoryId" class="form-label">Category:</label>
                    <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                        @foreach (var category in @Model.WearCategories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 text-center">
                    <input class="btn btn-lg mt-3 addExercise-button btn-info" style="width:275px; height:90px; font-size:40px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" type="submit" value="Add Clothing" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
